body {
    background-color: transparent;
    min-width: 350px;
/*     max-width: auto; */
  }
  
  .main_add h1 {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 2.0rem;
/*     max-height: 50%; */
    margin-top: 0px;
  }
  .main_add {
    background-color: rgb(245, 207, 157);
  }
  
  .header_add_btn {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
/*     max-height: 50%; */
  }
  
  .btn_Back {
    border-radius: 0.8rem;
    background-color: orange;
    padding: 0 1.5rem;
    color: white;
  }
  .btn_Back:hover {
    background-color: white;
    color: orange;
  }
  .input {
    font-weight: bold;
    padding: 1.0rem;
    padding-top: 1.5rem;
  }
  
  .input input {
    width: 98%;
    height: 2.0rem;
  }
  
  .myInput {
    display: block;
  }
  
  .btn_add {
    margin: 1.0rem;
    padding: 1.0rem;
    background-color: blue;
    color: white;
    border-radius: 0.8rem;
  }
  
  .btn_add:hover {
    background-color: white;
    color: blue;
    font-weight: bold;
  }
  
  /* .footer {
    text-align: center;
    padding:auto;
    color: blue;
  } */


html{
  
   font-size:62.5%;
}

@media (max-width:998px) {
  html {
    font-size:55%
  }
}


@media (max-width:768px) {
  html {
    font-size:45%
  }
}

@media (max-width:320px) {
  html {
    font-size:40%
  }
}